<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="RoomsSimpleVO" type="kr.banggooseok.database.vo.RoomsSimpleVO" />
        <typeAlias alias="RoomsVO" type="kr.banggooseok.database.vo.RoomsVO" />
        <typeAlias alias="ImagesVO" type="kr.banggooseok.database.vo.ImagesVO" />
    </typeAliases>
</configuration>